@using StadiumDrinkOrdering.Customer.Services
@using StadiumDrinkOrdering.Customer.Components
@inject ICustomerAuthStateService AuthStateService

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthenticationInitializer>
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </AuthenticationInitializer>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthStateService.InitializeAsync();
    }
}
