@using StadiumDrinkOrdering.Staff.Services
@inject IAuthStateService AuthStateService
@inject IStringLocalizer<SharedResources> Localizer

<div class="top-row ps-3 navbar navbar-dark" id="staff-nav-toprow">
    <div class="container-fluid" id="staff-nav-container">
        <a class="navbar-brand" id="staff-nav-brand" href="">@Localizer["NavMenu_Brand"]</a>
        <button title="@Localizer["NavMenu_Toggle"]" class="navbar-toggler" id="staff-navmenu-toggle-btn" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon" id="staff-nav-toggle-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" id="staff-nav-menu" @onclick="ToggleNavMenu">
    <nav class="flex-column" id="staff-nav-list">
        <div class="nav-item px-3" id="staff-nav-item-dashboard">
            <NavLink class="nav-link" id="staff-nav-link-dashboard" href="" Match="NavLinkMatch.All">
                <span class="oi oi-dashboard" id="staff-nav-icon-dashboard" aria-hidden="true"></span> @Localizer["Dashboard"]
            </NavLink>
        </div>
        <div class="nav-item px-3" id="staff-nav-item-orderqueue">
            <NavLink class="nav-link" id="staff-nav-link-orderqueue" href="order-queue">
                <span class="oi oi-list" id="staff-nav-icon-orderqueue" aria-hidden="true"></span> @Localizer["NavMenu_OrderQueue"]
            </NavLink>
        </div>
        <div class="nav-item px-3" id="staff-nav-item-myorders">
            <NavLink class="nav-link" id="staff-nav-link-myorders" href="my-orders">
                <span class="oi oi-clipboard" id="staff-nav-icon-myorders" aria-hidden="true"></span> @Localizer["MyOrders"]
            </NavLink>
        </div>
        <div class="nav-item px-3" id="staff-nav-item-stadium">
            <NavLink class="nav-link" id="staff-nav-link-stadium" href="stadium-map">
                <span class="oi oi-map" id="staff-nav-icon-stadium" aria-hidden="true"></span> @Localizer["NavMenu_StadiumMap"]
            </NavLink>
        </div>
        <div class="nav-item px-3" id="staff-nav-item-logs">
            <NavLink class="nav-link" id="staff-nav-link-logs" href="logs">
                <span class="oi oi-document" id="staff-nav-icon-logs" aria-hidden="true"></span> @Localizer["NavMenu_SystemLogs"]
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        AuthStateService.OnAuthenticationStateChanged += StateHasChanged;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


    public void Dispose()
    {
        AuthStateService.OnAuthenticationStateChanged -= StateHasChanged;
    }
}
