@page "/fetchdata"
@using Microsoft.Extensions.Localization
@using StadiumDrinkOrdering.Admin
@using StadiumDrinkOrdering.Admin.Data
@inject IStringLocalizer<SharedResources> L

<PageTitle>@L["FetchData_PageTitle"]</PageTitle>

<h1>@L["FetchData_Title"]</h1>

<p>@L["FetchData_Description"]</p>

@if (forecasts == null)
{
    <p><em>@L["Loading"]</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@L["FetchData_Date"]</th>
                <th>@L["FetchData_TempC"]</th>
                <th>@L["FetchData_TempF"]</th>
                <th>@L["FetchData_Summary"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

